<h1>Carritos</h1>
{{#each carts}}
<div>
    <h2>ID del carrito: {{this._id}}</h2>
    <h3>Producto(s)</h3>
    {{#each this.products}}
    <ul>
        <li>{{this.product}} (Cantidad: {{this.quantity}})</li>
    </ul>
    {{/each}}
</div>
{{/each}}